@model IEnumerable<Website2CubieBot.Models.Fout>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Melding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InnerMelding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tijdstip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Melding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InnerMelding)
        </td>
        <td>
            @item.Tijdstip
        </td>
    </tr>
}

</table>
