@model Website_Met_Auth.Models.LogboekElement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NederlandsLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LogboekElement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wanneer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wanneer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoelang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoelang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WatNed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WatNed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WatFra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WatFra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WatEng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WatEng)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ElementId }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
