<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CubieBot</title>
    <link rel="icon" href="~/Content/Images/Logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/CSS.css" />
</head>
<body>
    <div class="banner">
        <center>
            <img src="https://dev.azure.com/1819-5ITN2-SIEBE/_apis/GraphProfile/MemberAvatars/73d2e1f1-5d98-457d-b3ea-4840349ec50f?overrideDisplayName=CubieBot&size=2" alt="Banner" />

        </center>
    </div>
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom:1.5px solid rgb(33, 94, 110); z-index: 33;">
        <a class="navbar-brand" href="HomeLayout.html">
            <img src="~/Content/Images/Logo.png" style="height:30px; width:auto;" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link">@Html.ActionLink("Home", "Index", "Home")</a>
                    <a class="nav-item nav-link">@Html.ActionLink("Contact", "Contact", "Home")</a>
                    <a class="nav-item nav-link">@Html.ActionLink("Logboek", "Index", "Logboeks")</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="centerDiv vliegen">
        @RenderBody()
    </div>
    @*<div class="container body-content">*@
        <footer>
            <hr />
            <p class="centerAlign">&copy;@DateTime.Now.Year CubieBot</p>
        </footer>
        @*</div>*@

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
